@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

body {
    font-family: "Baloo 2", cursive;
    color: #e4e0f3;
    text-rendering: optimizeLegibility;
    font-weight: initial;
    background: #110f16;
}

.minimal-form {
    background: #18151f;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.03);
}

.minimal-form .form-control {
    background: #2a2633;
    border-color: #444;
    padding: 14px 18px;
    font-size: 15px;
    transition: all 0.2s ease;
    color: #e4e0f3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.minimal-form .form-control::placeholder {
    color: #88829c;
}

.minimal-form .form-control:focus {
    background: #332e41;
    border-color: #7f5fd7;
    box-shadow: 0 0 0 3px rgba(127, 95, 215, 0.35);
    outline: none;
}

.minimal-form .btn-submit {
    background: #5c5470;
    border: none;
    border-radius: 0.5rem;
    padding: 12px 0;
    font-weight: 600;
    width: 100%;
    color: #e4e0f3;
}

.minimal-form .btn-submit:hover {
    background: #6e6584;
}

.minimal-form a {
    color: #e4e0f3;
}

.minimal-form .form-text li {
    color: #e4e0f3;
}

.minimal-form .helptext .form-text small {
    color: #e4e0f3;
}