@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

body {
    font-family: "Baloo 2", cursive;
    color: #e4e0f3;
    text-rendering: optimizeLegibility;
    font-weight: initial;
    background: #110f16;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #18151f;
}

::-webkit-scrollbar-thumb {
    background-color: #7c5dfa;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6f4ded;
}

.card {
    border: none;
    background: none;
}

.card-header {
    color: #e4e0f3;
    background-color: #131119;
}

.btn-load-more {
    border: none;
    color: #c7bfff;
    background-color: #1e1b29;
    padding: 5px 10px;
    border-radius: 6px;
}

.btn-load-more:hover {
    background-color: #262335;
    border-color: #9f86ff;
}

.card-body.chat-box {
    background-color: #18151f;
}

.user-message {
    color: #e4e0f3;
    background-color: #1e1b29;
}

.username {
    color: #c7bfff;
}

.datetime {
    color: #a29dbc;
}

.others-message {
    color: #ffffff;
    background-color: #332f44;
}

input.form-control {
    border: none;
}

input[type="text"].form-control {
    color: #e5e1f5;
    background-color: #1c1925;
}

input.form-control::placeholder {
    color: #e0e0f0;
}

input.form-control:focus {
    border: none;
    background-color: #1c1925
}

.btnSubmitMessage {
    color: #e4e0f3;
    background-color: #4f36b2;
}

.btnSubmitMessage:hover {
    color: #e4e0f3;
    background-color: #654ccb;
}

.card-footer {
    background-color: #131119;
}