{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Efficient Study</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href="{% static '/css/study_session.css' %}" rel="stylesheet">

</head>

<body>

    <div class="container content pt-1 pb-5">
        <div class="show-modal-button-section w-100 d-flex justify-content-center">
            <button type="button" class="btn-show-modal" data-bs-toggle="modal" data-bs-target="#study-session-code">
                Show Study Session Code
            </button>
        </div>

        <div class="modal fade" id="study-session-code" tabindex="-1" aria-labelledby="study-session-code"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-end">
                        <button type="button" class="btn close-modal-btn" data-bs-dismiss="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path
                                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <input id="session_code" name="session_code" class="form-control session-code text-center"
                            type="text" value="{{ session_code }}" readonly onclick="this.select()" />
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn copy-to-clipboard-btn" onclick="copyToClipboard()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-clipboard" viewBox="0 0 16 16">
                                <path
                                    d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z" />
                                <path
                                    d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="leave-study-session-button-section d-flex justify-content-center p-2">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn leave-study-session-btn">Leave study session</button>
            </form>
        </div>

        <div class="row d-flex justify-content-center mt-5">
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="container pomodoro-timer text-center p-5">
                    <h4>Pomodoro Timer</h4>
                    <p id="pomodoro-timer-cycle" class="pomodoro-timer-cycle fs-6">Cycle 1</p>
                    <p id="pomodoro-timer-mode" class="pomodoro-timer-mode fs-6">Work</p>

                    <div class="progress-circle-section">
                        <svg class="progress-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120">
                            <circle class="circle-background" cx="60" cy="60" r="50"></circle>

                            <circle id="circle-progress" class="circle-progress" cx="60" cy="60" r="50"
                                stroke-dasharray="0, 314" data-progress="0"></circle>

                            <text class="circle-text" id="pomodoro-timer-minutes" x="120" y="110" text-anchor="middle"
                                alignment-baseline="middle">25</text>

                            <text class="circle-text" id="pomodoro-timer-seconds" x="120" y="130" text-anchor="middle"
                                alignment-baseline="middle">00</text>
                        </svg>
                    </div>

                    <div class="pomodoro-timer-buttons mt-3">
                        <button id="btnStartPomodoroTimer" type="button" class="btn control-btn start">Start</button>
                        <button id="btnStopPomodoroTimer" type="button" class="btn control-btn stop">Stop</button>
                        <button id="btnResetPomodoroTimer" type="button" class="btn control-btn reset">Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 mt-3 mt-xl-0 mt-md-0">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
                        <h5 class="mb-0">Chat</h5>
                    </div>

                    <div id="chatBox" class="card-body chat-box overflow-auto" style="height: 400px;">

                        {% if has_next_messages_page %}
                        <div class="section-load-more w-100 d-flex justify-content-center mb-3">
                            <button id="loadMoreBtn" class="btn-load-more"
                                data-study-session-url="{% url 'study_session' session_code %}"
                                data-next-messages-page="{{ next_messages_page }}">load more</button>
                        </div>
                        {% endif %}

                        {% for message in messages %}
                        {% if message.sender == user.username %}
                        <div class="d-flex justify-content-between">
                            <p class="datetime small mb-1">{{ message.datetime }}</p>
                            <p class="username small mb-1">{{ message.sender }}</p>
                        </div>
                        <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                            <div>
                                <p class="small p-2 me-3 mb-3 text-white rounded-3 user-message">
                                    {{ message.message_content }}
                                </p>
                            </div>
                            <img src="{{ message.profile_picture_url }}" style="width: 45px; height: 100%;"
                                class="rounded-circle">
                        </div>
                        {% else %}
                        <div class="d-flex justify-content-between">
                            <p class="username small mb-1">{{ message.sender }}</p>
                            <p class="datetime small mb-1">{{ message.datetime }}</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start">
                            <img src="{{ message.profile_picture_url }}" style="width: 45px; height: 100%;"
                                class="rounded-circle">
                            <div>
                                <p class="small p-2 ms-3 mb-3 rounded-3 others-message">
                                    {{ message.message_content }}
                                </p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>


                    <div class="card-footer d-flex justify-content-start align-items-center p-3">
                        <div class="input-group mb-0">
                            <input id="chat-message-input" type="text" class="form-control" placeholder="Type message"
                                aria-label="Type message" />
                            <button id="chat-message-submit" class="btn submit-message-btn" type="button"
                                style="padding-top: .55rem;">Send</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    {% if user.user_profile.profile_picture %}
    {{ user.user_profile.profile_picture.url|json_script:"profile-picture-url" }}
    {% else %}
    <script id="profile-picture-url" type="application/json">
        "https://robohash.org/default_profile_picture?set=set1&size=200x200"
    </script>
    {% endif %}

    <script id="study-session-main-script" src="{% static '/js/study_session.js' %}" defer
        data-session-code="{{ session_code }}" data-username="{{ user.username }}"></script>
</body>

</html>